.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 25%);
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    background-color: hsl(0, 0%, 35%);
}
