/* ===== GLOBAL ===== */
body {
  background-color:#f8f9fa;
  font-family: 'Monaco', monospace;
}

.container {
  max-width: 1800px;
}

/* ===== NAVBAR ===== */
.custom-navbar {
  background: linear-gradient(90deg, #1f2a44, #35526e);
  padding: 12px 0;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255,255,255,0.1);
}


.custom-navbar .navbar-brand {
  font-size: 1.5rem;
  font-weight: 600;
}

/* base links */
.custom-navbar .nav-link {
  color: rgba(255,255,255,0.75);
  font-weight: 500;
  font-size: 1.1rem; /* 🔥 slightly bigger text */
  padding: 10px 16px; /* 🔥 more clickable area */
  border-radius: 8px;
  transition: 0.2s ease;
}

/* hover */
.custom-navbar .nav-link:hover {
  color: #fff;
  background: rgba(255,255,255,0.08);
}

/* active page */
.nav-link.active {
  background: rgba(0, 212, 255, 0.15);
  color: #00d4ff !important;
  border-radius: 8px;
}
/* profile special button */
.profile-link {
  background: #00d4ff;
  color: #001b2e !important;
  font-weight: 600;
  border-radius: 20px;
}

.profile-link:hover {
  background: #00b8e6;
}

.navbar-nav {
  font-size: 0.95rem;
}




/* ===== DASHBOARD CARDS ===== */
.dashboard-card {
  /* border: 1px solid #e0e0e0;
  border-radius: 12px;
  transition: 0.2s; */
  border: none;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
}

.dashboard-card:hover {
  /* transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.1); */
  box-shadow: 0 4px 16px rgba(0,0,0,0.12);
  transition: 0.2s ease;
}

/* ===== HEADINGS ===== */
h2, h3, h4, h5 {
  font-weight: 700;
  color: #1f2a44;
}

/* ===== PROGRESS BARS ===== */

.progress {
  height: 20px;
  border-radius: 10px;
}

.progress-bar {
  transition: width 0.6s ease;
  font-weight: bold;
}


.market-card {
  border-radius: 15px;
  transition: 0.3s ease;
}

.market-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.1);
}

.market-card .card-title {
  font-weight: 600;
}

/* INVESTMENT RECOMMENDATION */

.recommendation-card {
  border-radius: 15px;
  transition: 0.3s ease;
}

.recommendation-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.1);
}

.recommendation-card h4 {
  font-weight: 600;
}

.recommendation-card ul {
  padding-left: 18px;
}

.recommendation-card li {
  margin-bottom: 8px;
}